<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Attribute Name</th>
      <th>value</th>
      <th>Rule Summary</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doc of documents" [ngClass]="{selected: doc.Id === selectedDocId}">
      <td>{{ doc.Id }}</td>
      <td>{{ doc.AttributeName }}</td>
      <td>{{ doc.Value }}</td>
      <td>{{ doc.RuleSummary }}</td>
      <td >
        <button type="button" class="btn btn-primary btn-xs" (click)="contentPreview(doc.Id)">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
